@use "../../styles/partials/variables";
@use "../../styles/partials/mixins";

.palette {
  display: flex;
  justify-content: center;
  margin: 1rem 0;

  &__swatch {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__swatch:hover {
    cursor: pointer;
  }

  &__info {
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  &__info:hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    height: 100%;
    opacity: 1;
    border-radius: 5px;
  }
}
