@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  font-family: "Fira Sans";

  &__title {
    @include section-header-desktop-font;
    color: $dark-brown !important;
    margin-left: 4rem;
  }

  &__links {
    margin-right: 4rem !important;
  }

  &__item-link {
    color: $dark-brown !important;
    @include subheader-desktop-font;
    font-size: 1rem;
  }
}

.active {
  background-color: $misty-rose !important;
  border-radius: 5rem;
}
