@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  font-family: "Fira Sans", sans-serif;
  flex-direction: column;
  align-items: center;
  @include tablet {
    padding-left: 2rem;
    flex-direction: row !important;
  }

  &__title {
    @include section-header-desktop-font;
    color: $dark-brown !important;
  }

  &__links {
    margin: 0 2rem !important;
  }

  &__item-link {
    color: $dark-brown !important;
    @include subheader-desktop-font;
    font-size: 1rem;
  }
}

.active {
  background-color: $misty-rose !important;
  border-radius: 5rem;
}
